$flyzyBlue: #1677ff;
$flyzyBlue50: #0056ad37;
$edFlyzyBlue: #003f7d;
$elFlyzyBlue: rgba(23, 122, 221, 0.121);
$almostRed: #ed3737;

$lightBlue: #88D4FF;
$lightRed: #FFA3A3;
$elGray: rgb(235, 235, 235);
$gray: #828282;
$gold: #FFD645;
$lightPurple: #DED8E5;
$green: #34EB72;
$shadowLight: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$shadowLightLeft: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
$shadowDark: rgba(119, 126, 133, 0.4) 0px 8px 24px;
$darkGold: #C9A420;
$label-font-color: #5A5A5A;
$label-font-size: 16px;
$required:red;
$error-message-color:red;
$error-input-color:red;

$paddingSmall: 20px;