@import "../../Styles/Global.scss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.header {
  height: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid $elGray;

  .logo {
    font-size: 20px;
    font-family: 'Ubuntu';
    color: $flyzyBlue;
    font-weight: 600;

    .bold {
      font-weight: 800;
      color: black
    }
  }
}